.camera-img {
    width: 70%;
    position: absolute;
}

.camera-img.rotated {
    transform: rotate(-5deg);
    -ms-transform: translate(-5deg); /* IE 9 */
    -webkit-transform: translate(-5deg); /* Safari e Chrome */
}

.position {
    left: 18px;
    top: 24px;
}

.width100 {
    width: 100%;
}